<section class="users-section">
  <ul class="users-list">
    <% @users.each do |user| %>
      <li>
        Name: <%= user.name %>
        <span class="file-link">
          <% if user_signed_in? %>
            <%= link_to 'See Profile',  user_path(user), class: 'profile-link' %>
          <% end %>
          <% unless current_user == user || 
                    current_user.friends_with?(user.id) || 
                    current_user.invitations.to_user(user.id).with_status('requested').any? %>
            <%= link_to 'Add Friend',  user_friendships_path(user_friendship: {user_id: current_user.id, friend_id: user.id}), class: 'profile-link', method: 'post' %>
            
          <% end %>
        </span>
      </li>
    <% end %>
  </ul>
</section>
